a {
  text-decoration-line: none;
}

:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --gret-dark-color: #909090;
  --grey-light-color: #e4dede;

  /* Size */
  --side-padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: ;
  list-style: none;
}

/* ----'------------------'-----navbar---------'------------------------' */

.navbar {
  list-style: none;
  display: flex;
  background-color: #212121;
  color: azure;
}

.navbar a {
  color: azure;
}

.navbar_logo {
  font-size: 36px;
  padding-left: 10px;
}

.navbar_logo i {
  color: red;
}

.navbar_searchAndMenu {
  font-size: 24px;
  position: absolute;
  right: 24px;
  top: 15px;
  padding-right: 10px;
}

.navbar_searchAndMenu i {
  padding: 4px 8px;
}
/* ----'----------------------'--------scene-------------'---------------------------' */

.scene {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}

.scene video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* ----'----------------------'--------detail----------'---------------------------' */

.detail {
  /* padding-left: 0; */
}

.detail ul {
  list-style: none;
  display: flex;
  padding: 4px 8px;
}

.detail .hashtag li {
  padding: 2px 4px;
  color: var(--blue-color);
}

.detail div div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.detail .detail_Title {
  font-size: 24px;
  padding-left: 8px;
  width: 580px;
  /* 줄 수 제한 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.detail_moreBtn {
  position: relative;
  right: 30px;
  height: 20px;
}

.detail_viewNumAndDate li {
  margin: 1%;
  padding: 1px 1px;
}

.detail_goodBadEtcBtn {
  display: flex;
  justify-content: space-around;
  margin: 2%;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.detail_goodBadEtcBtn li {
  display: flex;
  flex-direction: column;
  padding: 4px 12px;
  align-items: center;
}

.detail_goodBadEtcBtn :hover {
  color: dodgerblue;
}

.detail_myNameAndSubscribe {
  display: flex;
  justify-content: space-between;
}

.detail_myNameAndSubscribe_metadata {
  display: flex;
}

.detail_myNameAndSubscribe img {
  border-radius: 50%;
  width: var(--avatar-size);
  height: var(--avatar-size);
  margin-left: 8px;
}

.detail_myNameAndSubscribe_nameSubscireber {
  display: flex;
  flex-direction: column;
  padding-left: 6px;
  /* margin: 0 var(--side-padding); */
}

/* ----'----------------------'--------OtherVideo--------'---------------------------' */
